{% extends 'base.html.twig' %}
{% form_theme form 'food/_collections.html.twig' %}

{% block title %}Creation-Food-Shangrila
{% endblock %}

{% block body %}
	<div class="container mt-5 px-5 py-5" style="background-color:rgba(243, 223, 186,0.5)">
		<h1 class="text-center mb-5"><i class="fas fa-pepper-hot"></i> Création d'un menu</h1>

		{#  {{form(form)}}   #}
		{{ form_start(form)}}

		{{ form_widget(form)}}

		{# <pre>
			{{ dump() }}
		</pre> #}

		<button class="btn btn-danger btn-lg mt-3">Créer</button>

		{{ form_end(form)}}
	</div>

{% endblock %}
